###
### vcp.mako - this is the main page for the VCP GUI
###

<%!
    inherit_layout = False
    page_id = 'main-page'
    page_title = ''
    page_classes = ''
%>

###
### inheritence chain
###

<%inherit file="vcp_page.mako" />

###
### namespaces
###

###
### blocks
###




<%block name="extra_header_markup">
    <script src="/static/VCP_command_control.js"></script>
</%block>

###
### body
###
<div data-role="header">
    <a id="close" href="#" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back">Close</a>
    <h2>VCP Mode and Control</h2>
</div>
<a id="vcp-def-link" href="#vcp-def"></a>
<div id="content">
    <div data-role="popup" id="vcp-desc">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <div data-role="header">
            <h1 class="vcp-desc-title"></h1>
        </div>
        <div role="main" class="ui-content">
            <div id="vcp-desc-text" class="ui-body ui-body-a" style="height:600px; overflow:auto;">
                <ul type="square" data-role="listview" data-inset="false" style="padding-top:0.5em;">
                    <li data-role="list-divider">Parameters</li>
                </ul>
            </div>
        </div>
    </div>
    <div data-role="popup" id="vcp-confirm" data-dismissable="true" style="padding:25px;">
        <div data-role="header">
            <h1 class="vcp-prompt">Confirmation</h1>
        </div>
        <div role="main" class="ui-content minor-alarm">
            <div style="display:inline-block">
		<h2 style="display:inline-block">Send VCP</h2>
		<h2 style="display:inline-block" class ="final-vcp-confirm"></h2> 
		<h2 style="display:inline-block">to RDA?</h2>
	    </div>
            <br>
	    <div class="ui-grid-a">
 	        <div class="ui-block-a">
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back">Cancel</a>
                </div>
	        <div class="ui-block-b">
	            <a href="#" class="vcp-dload-confirm ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back" data-transition="flow">Send</a>
                </div>
	    </div>
        </div>
    </div>
<%

vcp_list = [x for x in context.keys() if x.isdigit()]

%>



<%
check_url = "checkmark"
x_url = "delete"
%>



% for vcp in vcp_list:
    % if context.get(vcp).get("multi").get("bool"):
        <%
	    master = context.get(vcp).get("multi").get("multi_helper")[0]
            if master == vcp:
                vcp_list.remove(context.get(vcp).get("multi").get("multi_helper")[1])
		other_vcp = context.get(vcp).get("multi").get("multi_helper")[1]
            else:
                vcp_list.remove(master)
		other_vcp = master
        %>
	<div class="ui-body ui-body-a ui-corner-all" style="height:120px;">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <div class="ui-grid-a">
                        <ul data-role="listview" data-inset="true" class="ui-block-a ui-listview ui-listview-inset ui-corner-all ui-shadow">
                            <li class="item${vcp} ui-first-child" data-icon="check"><a class="vcp-confirm ui-btn ui-btn-icon-right ui-icon-check" id="${vcp}"href="#vcp-confirm" data-rel="popup">VCP ${vcp}</a></li>
                            <li class="item${other_vcp} ui-last-child" data-icon="check"><a class="vcp-confirm ui-btn ui-btn-icon-right ui-icon-check" id="${other_vcp}"href="#vcp-confirm" data-rel="popup">VCP ${other_vcp}</a></li>
                        </ul>
                        <a class="vcp-page-click ui-block-b" href="#vcp-${master}-page"><div id="vcp${master}-draw-overview" style="height:80px; width:160px;"></div></a>            
                    </div>
                </div>
                <div class="vcp-multi ui-block-b ui-btn ui-corner-all ui-btn ui-btn-inline ui-btn-notext ui-corner-all">
                    <table data-role="table" data-mode="reflow" class="ui-responsive ui-table ui-table-reflow">
                        <thead>
                            <tr>
				% for strat in context.get(vcp).get("strategies").keys():
                            	    % if context.get(vcp).get("strategies").get(strat):
                                        <th><img src="/static/${check_url}.png" class="ui-li-icon">${strat}</th>
                                    % else:
                                        <th><img src="/static/${x_url}.png" class="ui-li-icon">${strat}</th>
                                    % endif
				% endfor

			    </tr>
                        </thead>
                    </table>
                    <table data-role="table" data-mode="reflow" class="ui-responsive ui-table ui-table-reflow">
                        <thead>
                            <tr>
				% for strat in context.get(other_vcp).get("strategies").keys():
                                    % if context.get(other_vcp).get("strategies").get(strat):
                                        <th><img src="/static/${check_url}.png" class="ui-li-icon">${strat}</th>
                                    % else:
                                        <th><img src="/static/${x_url}.png" class="ui-li-icon">${strat}</th>
                                    % endif
                                % endfor

			    </tr>
                        </thead>
                    </table>
                    <p style="font-size:12px">Elev. Angles: ${int(context.get(vcp).get('unique_elevs'))} # Split Cuts: ${context.get(vcp).get('num_split_cuts')} # Batch Cuts: ${context.get(vcp).get('num_batch_cuts')}</p>        
                    <p class="interval">Update Interval: ${vcp} - ${context.get(vcp).get('update_interval')} / ${other_vcp} - ${context.get(other_vcp).get('update_interval')}</p>
                </div>
                <a href="#vcp-desc" id="${vcp}/${other_vcp}" data-rel="popup" class="vcp-desc ui-block-c"><p style="text-indent:0.5em; padding-left:0.5em;">VCP ${vcp} Sample Info</p><p style="text-indent:0.5em; padding-left:0.5em;">VCP ${other_vcp} Sample Info</p></a>
            </div>
        </div>
    % else:			
        <div class="ui-body ui-body-a ui-corner-all" style="height:40%;">
            <div class="ui-grid-b">
        	<div class="ui-block-a">
        	    <div class="ui-grid-a">
        		<ul data-role="listview" data-inset="true" class="ui-block-a ui-listview ui-listview-inset ui-corner-all ui-shadow">
                            <li class="ui-first-child ui-last-child"data-icon="check"><a class="vcp-confirm ui-btn ui-btn-icon-right ui-icon-check"id="${vcp}" href="#vcp-confirm" data-rel="popup">VCP ${vcp}</a></li>
                  	</ul>
        		<a class="vcp-page-click ui-block-b" href="#vcp-${vcp}-page"><div id="vcp${vcp}-draw-overview" style="height:80px; width:160px;"></div></a>	
        	    </div>
        	</div>
                <div class="ui-block-b ui-btn ui-btn-inline ui-btn-notext ui-corner-all">
        	    <table data-role="table" data-mode="reflow" class="ui-responsive ui-table ui-table-reflow">
        	        <thead>
        	            <tr>
				% for strat in context.get(vcp).get("strategies").keys():
                                    % if context.get(vcp).get("strategies").get(strat):
                                        <th><img src="/static/${check_url}.png" class="ui-li-icon">${strat}</th>
                                    % else:
                                        <th><img src="/static/${x_url}.png" class="ui-li-icon">${strat}</th>
                                    % endif
                                % endfor
	
        	            </tr>
        	        </thead>
        	    </table>
        	    <p style="font-size:12px">Elev. Angles: ${int(context.get(vcp).get('unique_elevs'))} # Split Cuts: ${context.get(vcp).get('num_split_cuts')} # Batch Cuts: ${context.get(vcp).get('num_batch_cuts')}</p><p class="interval">Update Interval: ${context.get(vcp).get('update_interval')}</p>
		</div>
                <a href="#vcp-desc" id="${vcp}" data-rel="popup" class="vcp-desc ui-block-c"><p style="text-indent:0.5em; padding-left:0.5em;">VCP ${vcp} Info</p></a>
            </div>
    	</div>
    % endif
% endfor

    <script type="text/template" id="pageTemplateSingle">
        <div id="vcp-{0}-page" data-role="page">
            <div data-role="header">
                <h2>VCP {0} Details</h2>
                <a href="#" data-rel="back" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back">Back</a>
            </div>
            <div role="main" class="ui-content">
                <h3 class="ui-bar ui-bar-a ui-corner-all">VCP {0}</h3>
                <div class="ui-body ui-body-a ui-corner-all vcp-details" style="height:600px; width:600px; margin:auto;">
                    <div id="vcp{0}-draw-details" style="height:500px; width: 500px; margin:auto;" class="vcp-details"></div>
                </div>
            </div>
            <div data-role="footer">
                <h3>NEXRAD Radar Operations Center</h3>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="pageTemplateMulti">
        <div id="vcp-{0}-page" data-role="page">
            <div data-role="header">
                <h2>VCP {0}/{1} Details</h2>
                <a href="#" data-rel="back" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back">Back</a>
            </div>
            <div role="main" class="ui-content">
                <h3 class="ui-bar ui-bar-a ui-corner-all">VCP {0}/{1}</h3>
                <div class="ui-body ui-body-a ui-corner-all vcp-details" style="height:600px; width:600px; margin:auto;">
                    <div id="vcp{0}-draw-details" style="height:500px; width: 500px; margin:auto;" class="vcp-details"></div>
                </div>
            </div>
            <div data-role="footer">
                <h3>NEXRAD Radar Operations Center</h3>
            </div>
        </div>
    </script>

    <div style="display:inline-block">
        <form>
            <fieldset data-theme="b" data-role="controlgroup" data-type="horizontal">
                <input type="radio" name="vel-select" id="vel-1" value="on" checked="checked">
                <label for="vel-1">0.97kts</label>
                <input type="radio" name="vel-select" id="vel-2" value="off">
                <label for="vel-2">1.94kts</label>
            </fieldset>
        </form>
    </div>	
    <div style="display:inline-block;float:right">
        <div data-theme="b" data-role="controlgroup" data-type="horizontal">
	    <a href="#vcp-def" class="ui-btn ui-corner-all">View RPG VCP Definitions</a>
	    <a id="current-vcp" href="#" class="ui-btn ui-corner-all">View Current VCP</a>
	    <a href="#restart-pop" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all">Restart Current VCP</a>
            <div data-role="popup" id="restart-pop" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
                <div data-role="header" data-theme="a">
                    <h1>Restart VCP?</h1>
                </div>
        	<div role="main" class="ui-content">
                    <h4 style="text-align:center">You are about to stop the current data collection and start over at the lowest elevation cut.<br> Do you want to continue?</h4>
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Cancel</a>
                    <a href="#" id="restart-vcp-confirm" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow" style="float:right">Restart</a>
        	</div>
            </div>
        </div>
    </div>
</div>


