###
### index.mako - this is the main page for the dashboard
###

<%!
    inherit_layout = True 
    layout_name = "layout.mako" 
    page_id = 'main-page'
    page_title = 'RPG Control/Status'
    page_classes = ''
%>

###
### inheritence chain
###

<%inherit file="page.mako" />


###
### namespaces
###


###
### blocks
###

<%block name="extra_header_markup">
<script src="/static/static_hci/IndexView.js"></script>
<link rel="stylesheet" href="/static/static_hci/themes/rpghci.min.css" />

</%block>

###
### body
###


<div role="main" class="ui-content" id="content" style="padding-bottom:0px">


<div data-role="popup" id="popupDialog" data-dismissible="false" data-transition="flow" data-position-to="origin">
    <div class="ui-corner-top ui-header ui-bar-a" data-role="header" role="banner">
<h1 class="ui-title" role="heading">Confirm Action</h1>
    </div>
    <div class="ui-corner-bottom ui-content ui-body" data-role="content" role="main">
	<div id="optional-insert"></div>
	<h2 align="center"id="id-confirm" class="ui-title"></h2>
	<a id="pop-cancel"class="ui-btn ui-shadow ui-btn-corner-all-ui-btn-inline" data-rel="back" href="#">Cancel</a>
	<a id="pop-confirm" class="ui-btn ui-shadow ui-btn-corner-all-ui-btn-inline" data-rel="back" href="#">Confirm</a>
    </div>
</div>

<div class="ui-body ui-body-a ui-corner-all center main-body" style="width:97%;background-color:#4BACC6" >
    <div class="ui-grid-b">
	<div id="grid-a" class="ui-block-a" style="background-color:#4BACC6;">
	    <div id="RDA_STAT" class="ui-grid-a" style="width:100%;float:left;">
		<div class="ui-block-a">
			<div class="bar-border1">State:</div>
			<div class="bar-border1">Oper:</div>
		</div>
		<div class="ui-block-b">
			<div id ="RDA_STATE" style="font-size:80%"class="bar-border2 rda-style">UNKNOWN</div>
			<div id = "OPERABILITY_LIST" style="font-size:80%" class="bar-border2 rda-style">UNKNOWN</div>
		</div>
	    </div>
            <div class="radome-selectors" id="RPG_SAILS_contain">
                <select alt="SAILS" class="toggle" name="flip-mini" id="RPG_SAILS" data-role="slider">
                        <option value="off">DISABLED</option>
                        <option id="SAILSlabel" value="on">ENABLED</option>
                </select>       
            </div>
            <div class="radome-selectors" id="RS_AVSET_contain">
                <select alt="AVSET" class="toggle" name="flip-mini" id="RS_AVSET" data-role="slider">
                        <option value="off">DISABLED</option>
                        <option value="on">ENABLED</option>
                </select>       
            </div>
	    <div id="canvas-container">
	        <canvas id="radome"></canvas>
	        <canvas id="inner-circle"></canvas>
	    </div>
	    <div class="ui-grid-b" style="margin-top:-8px">
		<div style="width:15%"class="ui-block-a">
		    <div style="margin-right:5%">
		        <button id="RPG_COMMUN" class="rda-alarm-indicator">COM</button>
		        <button id="RDA_CONTROL" class="rda-alarm-indicator">CTR</button>
		        <button id="PEDESTAL" class="rda-alarm-indicator">PED</button>
		        <button id="RECV" class="rda-alarm-indicator">RCV</button>
		        <button id="SIGPROC" class="rda-alarm-indicator">SIG</button>
		        <button id="TOW_UTIL" class="rda-alarm-indicator">UTL</button>
		        <button id="TRANSMITTER"class="rda-alarm-indicator">XMT</button>
		    </div>
		</div>
		<div class="ui-block-b" style="width:70%">
		    <div id="TPS_indicator" style="position:absolute">
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <div id="TPS_STATUS_label" class="bar-border1">TPS:</div>
                            </div>
                            <div class="ui-block-b">
                                <div id="TPS_STATUS" class="bar-border2">N/A</div>
                            </div>
                        </div>
                    </div>
		    <div id="grid1" class="center normal-ops-grid">
			<p id="grid1title" style="color:black;border:none;text-align:center">RDA</p>
			<ul id="rdaButtons" data-icon="false" data-role="listview" data-inset="true">
			    <li><a id="rda_control" class="control-item control-shadow ui-btn ui-btn-icon-left ui-icon-carat-l" style="color:white;text-align:center" href="#rda_control_status">Control</a></li>
			    <li><a id="rda_perf" style="color:white;text-align:center"class="control-item control-shadow ui-btn" href="#" data-rel="popup">Performance<br> Data</a></li>
			    <li><a id="rda_alarms" style="color:white;text-align:center"class="control-item control-shadow ui-btn" href="#" data-rel="popup">Alarms</a></li>
			</ul>
                        <div id="RS_AUX_POWER_GEN_STATE" >
			    <div class="ui-grid-a">
			    	<div class="ui-block-a">
                            	    <meter id="gen_level" max=100 min=0 value=90 high=100 low =50 optimum=75></meter>
                                    <p id="gen_level_num">N/A </p>
				</div>	
				<div class="ui-block-b">
                            	    <img id="gen_img" style="width:70%"src='/static/static_hci/gen_shelter.png'></img>
				</div>
			    </div>
                        </div>
		    </div>		
	        </div>
                <div class="ui-block-c" style="width:15%" id="moments_sq">
		    <br><br><br><br><br>
		    <div style="width:50%">
                        <div id="link_R" class="normal-ops link-status-sq">R</div>  
                        <div id="link_V" class="normal-ops link-status-sq">V</div>                             
                        <div id="link_W" class="normal-ops link-status-sq">W</div>
                        <div id="link_D" class="normal-ops link-status-sq">D</div>
		   </div>
                </div>
		</div>

	</div>
	<div id="control_stat">
            <p id="CONTROL_STATUS">N/A</p>
            <div class="rpg-border"></div>
	</div>
	<div id="link">
	    <div style="text-align:center;border:solid 1px" class="bar-border link-statusR link-status status0" id="squaresWaveG_long">
		<div id="squaresWaveG_long_1" class="squaresWaveG_long_1 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_2" class="squaresWaveG_long_2 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_3" class="squaresWaveG_long_3 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_4" class="squaresWaveG_long_4 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_5" class="squaresWaveG_long_5 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_6" class="squaresWaveG_long_6 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_7" class="squaresWaveG_long_7 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_8" class="squaresWaveG_long_8 squaresWaveG_long"></div> 
	    </div>
	    <div style="text-align:center;border:solid 1px" class="bar-border link-statusV link-status status1" id="squaresWaveG_long">
		<div id="squaresWaveG_long_1" class="squaresWaveG_long_1 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_2" class="squaresWaveG_long_2 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_3" class="squaresWaveG_long_3 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_4" class="squaresWaveG_long_4 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_5" class="squaresWaveG_long_5 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_6" class="squaresWaveG_long_6 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_7" class="squaresWaveG_long_7 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_8" class="squaresWaveG_long_8 squaresWaveG_long"></div> 
	    </div>	
	    <div style="text-align:center;border:solid 1px" class="bar-border link-statusW link-status status2" id="squaresWaveG_long">
		<div id="squaresWaveG_long_1" class="squaresWaveG_long_1 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_2" class="squaresWaveG_long_2 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_3" class="squaresWaveG_long_3 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_4" class="squaresWaveG_long_4 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_5" class="squaresWaveG_long_5 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_6" class="squaresWaveG_long_6 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_7" class="squaresWaveG_long_7 squaresWaveG_long"></div>
		<div id="squaresWaveG_long_8" class="squaresWaveG_long_8 squaresWaveG_long"></div> 
	    </div>   
	    <div style="text-align:center;border:solid 1px" class="bar-border link-statusD link-status status3" id="squaresWaveG_long">
		<div class="squaresWaveG_long_1 squaresWaveG_long"></div>
		<div class="squaresWaveG_long_2 squaresWaveG_long"></div>
		<div class="squaresWaveG_long_3 squaresWaveG_long"></div>
		<div class="squaresWaveG_long_4 squaresWaveG_long"></div>
		<div class="squaresWaveG_long_5 squaresWaveG_long"></div>
		<div class="squaresWaveG_long_6 squaresWaveG_long"></div>
		<div class="squaresWaveG_long_7 squaresWaveG_long"></div>
		<div class="squaresWaveG_long_8 squaresWaveG_long"></div> 
	    </div>
	</div>
	<div class="ui-block-b" style="background-color:#4bacc6">					
	    <div class="center" style="width:75%;display:table;">
		<div style="display: table-row">
		    <div style="display: table-cell;"><div class="contain-gray">H Delta dBZ0:</div></div>
		    <div style="display: table-cell;"><div id="h_delta_dbz0" style="color:black" class="contain-white">-9999</div></div>
		</div>
		<div style="display: table-row">
		    <div style="display: table-cell;"><div class="contain-gray">V Delta dBZ0:</div></div>
		    <div style="display: table-cell;"><div id="v_delta_dbz0" style="color:black" class="contain-white">-9999</div></div>
		</div>
                <div style="display: table-row">
                    <div style="display: table-cell;"><div class="contain-gray">Perf. Check in</div></div>
                    <div style="display: table-cell;"><div style="color:black" id="perf_check_time" class="contain-white">-9999</div></div>
                </div>
	    </div>
	    <div id="vcp-button" class="ui-grid-a">
		<div class="ui-block-a">
		    <button id="VCP_button" type="button">VCP</button>
		</div>
		<div class="ui-block-b">
		    <a id="RS_VCP_NUMBER" href="/vcp" class="ui-btn ui-btn-b ui-shadow ui-corner-all" target="_blank">N/A</a>
		</div>
	    </div>
	    <div style="text-align:center">
 	    <p id="VCP_start_date" class="vcp-style"></p><p id="VCP_start_time" class="vcp-style"></p>
            </div>
	    <div class="center" style="width:85%;display:table;">
               <div style="display: table-row">
                    <div style="display: table-cell;"><div class="contain-gray">Current Z-R:</div></div>
                    <div style="display: table-cell;"><div style="color:black" id="Z-R" class="contain-white">NOT AVAILABLE</div></div>
                </div>
                <div style="display: table-row">
                    <div style="display: table-cell;"><div class="contain-gray">Current R(Z,ZDR):</div></div>
                    <div style="display: table-cell;"><div style="color:black" id="Z-ZDR" class="contain-white">NOT AVAILABLE</div></div>
                </div>
                <div class="RPG_STAT" style="display: table-row">
                    <div style="display: table-cell;"><div class="contain-gray">State</div></div>
                    <div style="display: table-cell;"><div id="RPG_state" class="contain-white">N/A</div></div>
                </div>
                <div class="RPG_STAT" style="display: table-row">
                    <div style="display: table-cell;"><div class="contain-gray">Oper</div></div>
                    <div style="display: table-cell;"><div id="RPG_oper" class="contain-white">N/A</div></div>
                </div>
	    </div>
	    <div class="ui-grid-b">
		<div class="ui-block-a" style="width:25%"></div>
		<div class="ui-block-b" style="width:50%">
  	        <div class="normal-ops-grid" id="grid2">
		    <p style="text-align:center;color:black">RPG</p>
		    <ul data-role="listview" data-inset="true">
		 	<li><a id="rpg_control" style="color:white;text-align:center" class="control-item control-shadow" href="#rpg_control_panel">Control</a></li>
			<li><a id="rpg_products" style="color:white;text-align:center"class="control-item control-shadow ui-btn" href="#" data-rel="popup">Products</a></li>
			<li><a id="rpg_misc"style="color:white;text-align:center"class="control-item control-shadow ui-btn" href="#" data-rel="popup">Misc</a></li>
			<li><a id="rpg_status"style="color:white;text-align:center"class="control-item control-shadow ui-btn" href="#" data-rel="popup">Status</a></li>
                        <li><a id="dqd" style="color:white;text-align:center"class="control-item control-shadow ui-btn" target="_blank" rel="external" href="/dqd">Data Quality</a></li>
		    </ul>
		    <br><br><br>
		</div>
		</div>
                <div class="ui-block-c" style="width:25%"></div>
	    </div>
    </div>
    <div class="ui-block-c" style="background-color:#4BACC6">
	<div id="PRF_Mode_status" class="ui-grid-a center button-line">
	    <div class="ui-block-a">
	 	<button type="button" class="display-button">PRF Mode</button>
	    </div>
	    <div class="ui-block-b">	
	       	<div id="PRF_Mode_contain" style="display:inline-block" class="containing-element-lg">
			<select class="toggle" alt="PRF Mode"  name="flip-min" id="PRF_Mode" data-role="slider" data-mini="true">
				<option select value="off">MANUAL</option>
				<option value="on">MULTI</option>
			</select>
		</div>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="SAILS_Exception_status">
	    <div class="ui-block-a">
		<button type="button" class="display-button">SAILS</button>
	    </div>
	    <div class="ui-block-b">
		<div style="display:inline-block" class="containing-element-lg" id="SAILS_Exception_contain">
		    <select alt="SAILS-Exception" class="toggle" name="flip-min" id="SAILS_Exception" data-role="slider" data-mini="true">
			<option select value="off">DISABLED</option>
			<option value="on">ENABLED</option>
		    </select>
		</div>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="AVSET_Exception_status">
	    <div class="ui-block-a">
		<button type="button" class="display-button">AVSET</button>
	    </div>
	    <div class="ui-block-b">
		<div style="display:inline-block" id="AVSET_Exception_contain" class="containing-element-lg">
		    <select class="toggle" alt="AVSET-Exception"  name="flip-min" id="AVSET_Exception" data-role="slider" data-mini="true">
			<option select value="off">DISABLED</option>
			<option value="on">ENABLED</option>
		    </select>
		</div>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="Mode_Conflict_status">
	    <div class="ui-block-a">
		<button id="Mode_Conflict" class="display-button" type="button">Mode Conflict</button>
	    </div>
	    <div class="ui-block-b">
		<button id="Mode_Conflict_contain" class="data-button" type="button">N/A</button>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="mode_B_auto_switch_status">
	    <div class="ui-block-a">
		<button type="button" class="display-button">Clear Air Switch</button>
	    </div>
	    <div class="ui-block-b">
		<div style="float:left" class="containing-element-lg">
		    <select alt="Clear Air Switch" title="flag"class="toggle" name="flip-min" id="mode_B_auto_switch" data-role="slider" data-mini="true">
			<option select value="off">MANUAL</option>
			<option value="on">AUTO</option>
		    </select>
		</div>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="mode_A_auto_switch_status">
	    <div class="ui-block-a">
		<button type="button" class="display-button">Precip Switch</button>
	    </div>
	    <div class="ui-block-b">
		<div style="float:left" class="containing-element-lg">
		    <select alt="Precip Switch" class="toggle" title="flag" name="flip-min" id="mode_A_auto_switch" data-role="slider" data-mini="true">
			<option select value="off">MANUAL</option>
			<option value="on">AUTO</option>
		    </select>
		</div>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="RS_SUPER_RES_status">
	    <div class="ui-block-a">
		<button type="button" class="display-button">Super Res</button>
	    </div>
	    <div class="ui-block-b">
		<div id = "RS_SUPER_RES_contain"style="float:left" class="containing-element-lg">
		    <select alt="Super-Res" class="toggle" name="flip-min" id="RS_SUPER_RES" data-role="slider" data-mini="true">
			<option value="off">DISABLED</option>
			<option value="on">ENABLED</option>
		    </select>
		</div>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="RS_CMD_status">
	    <div class="ui-block-a">
		<button type="button" class="display-button">CMD</button>
	    </div>
	    <div class="ui-block-b">
		<div id="RS_CMD_contain" style="float:left" class="containing-element-lg">
		    <select alt="CMD" class="toggle" name="flip-min" id="RS_CMD" data-role="slider" data-mini="true">
		        <option select value="off">DISABLED</option>
			<option value="on">ENABLED</option>
		    </select>
		</div>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="Model_Update_status">
	    <div class="ui-block-a">
		<button type="button" class="display-button" id="Model_Update_button" style="font-size:11px">Model Update</button>
	    </div>	
	    <div class="ui-block-b containing-element-lg">
		<select alt="Model Update" class="toggle" title="flag" name="flip-min" id="Model_Update" data-role="slider" data-mini="true">
		    <option select value="off">OFF</option>
		    <option value="on">ON</option>
		</select>
	    </div>
	</div>
	<div class="ui-grid-a center button-line" id="VAD_Update_status">
	    <div class="ui-block-a">
		<button type="button" class="display-button" id="VAD_Update_button">VAD Update</button>
	    </div>
	    <div class="ui-block-b containing-element-lg">
		<select alt="VAD Update" class="toggle" title="flag" name="flip-min" id="VAD_Update" data-role="slider"data-mini="true">
		    <option select value="off">OFF</option>
		    <option value="on">ON</option>
		</select>
	    </div>
	</div>
	<br>
	<div class="ui-grid-c">	
	    <div class="ui-block-a"></div>
	    <div class="ui-block-b">
	        <div id="grid3" class="normal-ops-grid">
	            <p style="color:black;text-align:center">USERS</p>
	    	    <ul data-icon="false" data-role="listview" data-inset="true">
	        	<li><a id="user_comms" style="color:white;text-align:center"class="control-item control-shadow" href="#" data-rel="popup">Comms</a></li>
	        	<li><a id="user_messages"style="color:white;text-align:center" class="control-item control-shadow" href="#" data-rel="popup">Console <br> Messages</a></li>
	    	    </ul>
	    	    <br>
		</div>
	    </div>
	    <div class="ui-block-c"></div>
	</div>
    </div>
    <div class="bar-border nblink-status link-status" style="position:relative;z-index:1;left:-80px;top:-100px;display:inline-block">
	<div class="squaresWaveG_long_1 squaresWaveG_long"></div>
	<div class="squaresWaveG_long_2 squaresWaveG_long"></div>
	<div class="squaresWaveG_long_3 squaresWaveG_long"></div>
	<div class="squaresWaveG_long_4 squaresWaveG_long"></div>
	<div class="squaresWaveG_long_5 squaresWaveG_long"></div>
	<div class="squaresWaveG_long_6 squaresWaveG_long"></div>
	<div class="squaresWaveG_long_7 squaresWaveG_long"></div>
	<div class="squaresWaveG_long_8 squaresWaveG_long"></div>
    </div>
    <div class="ui-grid-a center button-line" id="Load_Shed_status">
        <div class="ui-block-a">
	    <button id="Load_Shed" class="display-button" type="button">Load Shed</button>
	</div>
	<div class="ui-block-b">
	    <button id="Load_Shed_contain" class="data-button" type="button">N/A</button>
	</div>
    </div>				
</div>
</div>
<table class="ui-responsive">
    <thead>
        <tr>
            <th>Feedback:</td>
            <td id="Feedback" class="bar-border message-line"></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Status:</th>
            <td id="Status"class="bar-border message-line"></td>
        </tr>
        <tr>
            <th>Alarms:</th>
            <td id="Alarms" class="bar-border message-line"></td>
        </tr>
    </tbody>
</table>


	


