###
### index.mako - this is the main page for the dashboard
###

<%!
    inherit_layout = True
    page_id = 'main-page'
    page_title = 'demo-page'
    page_classes = ''
%>

###
### inheritence chain
###

<%inherit file="scc_page.mako" />

###
### namespaces
###

###
### blocks
###



<%block name="extra_header_markup">
<link rel="stylesheet" href="/static/static_scc/themes/rpghci.min.css" />
<script>
$(document).ready(function(){
	$('#refreshPage').click(function(){
		location.reload()
	});
	$('#close').click(function(){
        	window.close();
        }); 

});
</script>
</%block>
###
### body
###
    <%
    e = "N/A"
    %>

    <div role="banner" class="ui-header ui-bar-a" data-role="header">
        <a id="close" href="#" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back">Close</a>
	<button id="refreshPage"  class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-icon-refresh ui-btn-icon-right">Refresh Page</button>
	<div class="ui-grid-b">
 	    <div class="ui-block-a"><h3 style="margin:0;padding-top:8px" align="right">${context.get("SCC").get("ICAO:",e)}</h3></div>              
	    <h2 style="padding-bottom:4px;padding-top:4px" class="ui-block-b" align="center" aria-level="1" role="heading" class="ui-title">Shift Change Checklist</h2>
    	    <div class="ui-block-c"><h3 style="margin:0;padding-top:8px" align="left">${context.get("SCC").get("Date/Time:",e)}</h3></div>
	</div>
    </div>
    <div id="content" style="font-size:14px">
		<div class="ui-grid-a">
            <table data-role="table" class="ui-block-a ui-body-d ui-shadow table-stripe ui-responsive">
            	<thead>
            		<tr>
                        <th><u>RDA Status</u></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RDA Alarm Summary:</td>
                        <td>${context.get("SCC").get("RDA Alarm Summary",e)}</td>
                    </tr>
            	    <tr>
                        <td>Operability Status:</td>
                        <td>${context.get("SCC").get("Operability Status",e)}</td>
                    </tr>
            	    <tr>
                        <td>RDA Status:</td>
                        <td>${context.get("SCC").get("RDA Status",e)}</td>
                    </tr>
            	    <tr>
                        <td>Control Status:</td>
                        <td>${context.get("SCC").get("Control Status",e)}<td>
                    </tr>
            	    <tr>
                        <td>Transition Power Source (TPS):</td>
                        <td>${context.get("SCC").get("Transition Power Source (TPS)",e)}</td>
                    </tr>
            	    <tr>
                        <td>Aux Power Generator State:</td>
                        <td>${context.get("SCC").get("Aux Power Generator State",e)}</td>
                    </tr>
            	    <tr>
                        <td>Super Resolution (SR):</td>
                    	<td>${context.get("SCC").get("Super Resolution (SR)",e)}</td>
		    </tr>
            	    <tr>
                        <td>Clutter Mitigation Decision:</td>
                        <td>${context.get("SCC").get("Clutter Mitigation Decision (CMD)",e)}</td>
                    </tr>
            	    <tr>
                        <td>Horiz./Ver. Delta dBZ0:</td>
                        <td>${context.get("SCC").get("Horiz./Vert. Delta dBZ0",e)} </td>
                    </tr>
            	    <tr>
                        <td>Avg Transmitter Power:</td>
  			<td>${context.get("SCC").get("Average Transmitter Power",e)}</td>                 
                    </tr>
            	    <tr>
                        <td>VCP Number:</td>
                        <td>${context.get("SCC").get("VCP Number",e)}</td>
                    </tr>
            	    <tr>
                        <td>AVSET Status:</td>
                        <td>${context.get("SCC").get("AVSET Status",e)}</td>
                    </tr>
		    <tr>
		    	<th><u>Archive Level II</u></th>
		    </tr>
		    <tr>
			<td>Transmit Status:</td>
                        <td>${context.get("SCC").get("Transmit Status",e)}</td>
                    </tr>
            	    <tr>
                        <td>Version:</td>
                        <td>${context.get("SCC").get("Version",e)}</td>
                    </tr>
            	    <tr>
                        <th><u>Mode Selection Function</u></th>
                    </tr>
            	    <tr>
                        <td>Mode Conflict:</td>
			<td>${context.get("SCC").get("Mode Conflict",e)}</td>
                    </tr>
            	    <tr>
                        <td>Mode Switch Clear Air:</td>
			<td>${context.get("SCC").get("Mode Switch Clear Air",e)}</td>
                    </tr>
            	    <tr>
                        <td>Mode Switch Precip:</td>
			<td>${context.get("SCC").get("Mode Switch Precip",e)}</td>
                    </tr>
            	    <tr>
                        <td>Mode Conflict Duration:</td>
                        <td>${context.get("SCC").get("Mode Conflict Duration",e)}</td>
		    </tr>
		    <tr>
                        <th><u>Narrrowband Communications</u></th>
                    </tr>
                    <tr>
                        <td>Dedicated Connected Users:</td>
                        <td>${context.get("SCC").get("Dedic Connected Users - Line(ID)",e)}</td>
                    </tr>
                    <tr>
                        <th><u>RDA Performance/Maintainence Data (PMD)</u></th>
                    </tr>
                    <tr>
                        <td>Generator Fuel Level:</td>
                        <td>${context.get("SCC").get("Generator Fuel Level",e)}</td>
                    </tr>
                    <tr>
                        <td>Transmitter Air Temp:</td>
                        <td>${context.get("SCC").get("Transmitter Air Temperature",e)}</td>
                    </tr>


            	</tbody>
            </table>
            <table data-role="table" class="ui-block-b ui-body-d ui-shadow table-stripe ui-responsive">
            	<thead>
            	    <tr>
                        <th><u>RDA PMD (continued)</u></th>
                    </tr>
                </thead>
                <tbody>
            	    <tr>
                        <td>Peak Power (Horiz./Vert.):</td>
                         <td>${context.get("SCC").get("Peak Power (Horiz./Vert. )",e)}</td>
                    </tr>
            	    <tr>
                        <td>Performance Check In (Time):</td>
                         <td>${context.get("SCC").get("Performance Check In (Time)",e)}</td>
                    </tr>
            	    <tr>
                        <th><u>RPG Status Information</u></th>
                    </tr>
		    <tr>
			<td>RPG Alarm Summary</td>
			<td>${context.get("SCC").get("RPG Alarm Summary",e)}</td>
		    </tr>
            	    <tr>
                        <td>Operability Status:</td>
                        <td>${context.get("SCC").get("Operability Status",e)}</td>
                    </tr>
            	    <tr>
                        <td>Wideband Status:</td>
                        <td>${context.get("SCC").get("Wideband Status",e)}</td>
                    </tr>
            	    <tr>
                        <td>SAILS Status / # Cuts:</td>
			<td>${context.get("SCC").get("SAILS Status / # Cuts",e)}</td>
                    </tr>
            	    <tr>
                        <td>PRF Mode:</td>
                        <td>${context.get("SCC").get("PRF Mode",e)}</td>
                    </tr>
            	    <tr>
                        <th><u>Environmental Data</u></th>
                    </tr>
		    <tr>
		        <td>VAD Update/Model Update:</td>	
			<td>${context.get("SCC").get("VAD Update/Model Update",e)}</td>
		    </tr>
		    <tr>
			<td>Temp Heights (0C/-20C):</td>
			<td>${context.get("SCC").get("Temp Heights (0C/-20C)",e)}</td>
		    </tr>
		    <tr>
			<td>Wetbulb Heights (0C/-25C):</td>
                        <td>${context.get("SCC").get("Wetbulb Heights (0C/-25C)",e)}</td>
		    <tr>
                    <tr>
                        <td>Default Storm Motion</td>
                        <td>${context.get("SCC").get("Default Storm Motion",e)}</td>
                    </tr>
			<th><u>Algorithm Status/Data</u></th>
		    </tr>	    
            	    <tr>
                        <td>PPS/QPE Precipitation Status:</td>
			<td>${context.get("SCC").get("PPS/QPE Precipitation Status",e)}</td>
                    </tr>
            	    <tr>
                        <td>PPS Z-R Relationship:</td>
                        <td>${context.get("SCC").get("PPS Z-R Relationship",e)}</td>
                    </tr>
            	    <tr>
                        <td>PPS RAINA/RAINZ/MXPRA:</td>
                        <td>${context.get("SCC").get("PPS RAINA/RAINZ/MXPRA",e)}</td>
                    </tr>
		    <tr>
			<td>QPE Precipitation Type:</td>
                        <td>${context.get("SCC").get("QPE Precipitation Type",e)}</td>
            	    </tr>
		    <tr>
			<td>QPE PAIF Area/Rate/Max Precip Rate:</td>
                        <td>${context.get("SCC").get("QPE PAIF Area/Rate/Max Precip Rate",e)}</td>
		    </tr>
                    <tr>
                        <td>QPE Multis (GR/HA/DS/DS&#60ML/IC/WS):</td>
                        <td>${context.get("SCC").get("QPE Multis (GR/HA/DS/DS<ML/IC/WS)",e)}</td>
                    </tr>
                    <tr>
                        <td>RPG Est. ISDP / Applied? / RDA ST22</td>
                        <td>${context.get("SCC").get("RPG Est. ISDP / Applied? / RDA ST22",e)}</td>
                    </tr>
                    <tr>
                        <td>MetSignal Processing/Threshold</td>
                        <td>${context.get("SCC").get("MetSignal Processing/Threshold",e)}</td>
                    </tr>
		    <tr>
                        <td>MetSignal CAPPI Processing:</td>
                        <td>${context.get("SCC").get("MetSignal CAPPI Processing",e)}</td>
                    </tr>
		    <tr>
			<td>Use 2D-VDA:</td>
			<td>${context.get("SCC").get("Use 2D-VDA",e)}</td>
		    </tr>
            	</tbody>
            </table>
	</div>
</div>
	



	


