###
### index.mako - this is the main page for the dashboard
###

<%!
    inherit_layout = True
    page_id = 'main-page'
    page_title = 'demo-page'
    page_classes = ''
%>

###
### inheritence chain
###

<%inherit file="page.mako" />

###
### namespaces
###

###
### blocks
###



<%block name="extra_header_markup">
<script>
$(document).ready(function(){
	$('#refreshPage').click(function(){
		location.reload()
	});
	$('#close').click(function(){
        	window.close();
        }); 

});
</script>
</%block>
###
### body
###
	
	<div role="banner" class="ui-header ui-bar-a" data-role="header">
		<a id="close" href="#" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back">Close</a>
		<button id="refreshPage"  class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-icon-refresh ui-btn-icon-right">Refresh Page</button>
 		<h1 aria-level="1" role="heading" class="ui-title">Shift Change Checklist</h1>


		


	</div>

    <div id="content" style="font-size:16px">
		<div class="ui-grid-a">
            <table data-role="table" class="ui-block-a ui-body-d ui-shadow table-stripe ui-responsive">
            	<thead>
            		<tr>
                        <th><u>RDA Status</u></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RDA Alarm Summary:</td>
                        <td>${context.get("RS_dict").get("RDA_static").get("RS_RDA_ALARM_SUMMARY_LIST")}</td>
                    </tr>
            	    <tr>
                        <td>Operability Status:</td>
                        <td>${context.get("RS_dict").get("RDA_static").get("OPERABILITY_LIST")}</td>
                    </tr>
            	    <tr>
                        <td>RDA Status:</td>
                        <td>${context.get("RS_dict").get("RDA_static").get("RDA_STATE")}</td>
                    </tr>
            	    <tr>
                        <td>Control Status:</td>
                        <td>${context.get("RS_dict").get("RDA_static").get("CONTROL_STATUS")}<td>
                    </tr>
            	    <tr>
                        <td>Transition Power Source (TPS):</td>
                        <td>${context.get("RS_dict").get("RDA_static").get("TPS_STATUS")}</td>
                    </tr>
            	    <tr>
                        <td>Aux Power Generator State:</td>
                        <td>${context.get("RS_dict").get("RDA_static").get("AUX_GEN_LIST").replace('false','').replace('true','')}</td>
                    </tr>
            	    <tr>
                        <td>Super Resolution (SR):</td>
                    	<td>${context.get('RS_dict').get('RDA_static').get('LOOKUP').get('RS_SUPER_RES').get(context.get("RS_dict").get("RS_SUPER_RES"))}</td>
		    </tr>
            	    <tr>
                        <td>Clutter Mitigation Decision:</td>
                        <td>${context.get('RS_dict').get('RDA_static').get('LOOKUP').get('RS_CMD').get(context.get("RS_dict").get("RS_CMD"))}</td>
                    </tr>
            	    <tr>
                        <td>Horizontal Delta dBZ0:</td>
                        <td>${context.get("PMD_dict").get("h_delta_dbz0")}dB</td>
                    </tr>
            	    <tr>
                        <td>Vertical Delta dBZ0:</td>
                        <td>${context.get("PMD_dict").get("v_delta_dbz0")}dB</td>
                    </tr>
            	    <tr>
                        <td>Avg Transmitter Power:</td>
  			<td>${context.get("RS_dict").get("RS_AVE_TRANS_POWER")} W</td>                 
                    </tr>
            	    <tr>
                        <td>VCP Number:</td>
                        <td>${context.get("RS_dict").get("RS_VCP_NUMBER")}</td>
                    </tr>
            	    <tr>
                        <td>AVSET Status:</td>
                        <td>${context.get('RS_dict').get('RDA_static').get('LOOKUP').get('RS_AVSET').get(context.get("RS_dict").get("RS_AVSET"))}</td>
                    </tr>
		    <tr>
		    	<th><u>Archive Level II</u></th>
		    </tr>
		    <tr>
                        <td>Transmit Status:</td>
                        <td>On *stub*</td>
                    </tr>
            	    <tr>
                        <td>Version:</td>
                        <td>${context.get("ADAPT").get("version")}</td>
                    </tr>
            	    <tr>
                        <th><u>Mode Selection Function</u></th>
                    </tr>
            	    <tr>
                        <td>Mode Conflict:</td>
			% if context.get("PMD_dict").get("mode_conflict"):
			<td>YES</td>
			% else:
                        <td>NO</td>
			% endif 
                    </tr>
            	    <tr>
                        <td>Mode Switch Clear Air:</td>
			%if context.get("RPG_dict").get("Clear_Air_Switch"):
                        <td>AUTO</td>
			%else:
			<td>MANUAL</td>
			%endif
                    </tr>
            	    <tr>
                        <td>Mode Switch Precip:</td>
			%if context.get("RPG_dict").get("Precip_Switch"):
                        <td>AUTO</td>
			%else:	
			<td>MANUAL</td>
			%endif
                    </tr>
            	    <tr>
                        <td>Mode Change Thresholds:</td>
                        <td>${context.get("PMD_dict").get("precip_mode_area_thresh")} km^2 > ${context.get("PMD_dict").get("precip_mode_zthresh")}dBz</td>
		    </tr>
		    <tr>
                        <th><u>Narrrowband Communications</u></th>
                    </tr>
                    <tr>
                        <td>Dedicated Connected Users:</td>
                        <td>3 *stub*</td>
                    </tr>

            	</tbody>
            </table>
            <table data-role="table" class="ui-block-b ui-body-d ui-shadow table-stripe ui-responsive">
            	<thead>
            		<tr>
                        <th><u>RDA Performance/Maintainence Data</u></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Equipment Shelter:</th>
                    </tr>
            	    <tr>
                        <td>Generator Fuel Level:</td>
                        <td>${context.get("PMD_dict").get("cnvrtd_gnrtr_fuel_lvl")}%</td>
                    </tr>
            	    <tr>
                        <td>Transmitter Air Temp:</td>
                        <td>${context.get("PMD_dict").get("trsmttr_leaving_air_temp")} (deg C)</td>
                    </tr>
            	    <tr>
                        <th>Transmitter:</th>
                    </tr>
            	    <tr>
                        <td>Peak Power:</td>
                         <td>${context.get("PMD_dict").get("xmtr_peak_pwr")} kW</td>
                    </tr>
            	    <tr>
                        <th>Device Status:</th>
                    </tr>
            	    <tr>
                        <td>Performance Check Time:</td>
                         <td>${context.get("PMD_dict").get("perf_check_time")[0]}</td>
                    </tr>
            	    <tr>
                        <th><u>RPG Status Information</u></th>
                    </tr>
            	    <tr>
                        <td>RPG Alarm Summary:</td>
                        <td>${context.get("RPG_dict").get("RPG_alarms")}</td>
                    </tr>
            	    <tr>
                        <td>Operability Status:</td>
                        <td>${context.get("RPG_dict").get("RPG_op")}</td>
                    </tr>
            	    <tr>
                        <td>Wideband Status:</td>
                        <td>${context.get("RS_dict").get("RDA_static").get("WIDEBAND")}</td>
                    </tr>
            	    <tr>
                        <td>SAILS:</td>
                       	% if context.get("RPG_dict").get("RPG_SAILS"):
			<td>ENABLED</td>
			% else:
			<td>DISABLED</td>
			% endif 
                    </tr>
            	    <tr>
                        <td>PRF Mode:</td>
                        <td>${context.get("PMD_dict").get("prf")}</td>
                    </tr>
            	    <tr>
                        <th><u>Environmental Data</u></th>
                    </tr>
		    <tr>
		        <td>VAD Update:</td>
			% if context.get("PMD_dict").get("VAD_Update"):
			<td>ON</td>
			% else:
			<td>OFF</td>
			%endif
		    </tr>
		    <tr>
		        <td>Model Update:</td>
			% if context.get("PMD_dict").get("Model_Update"):
			<td>ON</td>
			% else:
			<td>OFF</td>
			%endif
		    </tr>
		    <tr>
			<th><u>Algorithm Status/Data</u></th>
		    </tr>	    
            	    <tr>
                        <td>PPS Precipitation Status:</td>
			% if context.get("PMD_dict").get("current_precip_status"):
                        <td>ACCUM</td>
			% else:
			<td>NO ACCUM</td>
			% endif
                    </tr>
            	    <tr>
                        <td>PPS Z-R Relationship:</td>
                        <td>Z = ${context.get("ADAPT").get("ZR_mult")}*R^${context.get("ADAPT").get("ZR_exp")}</td>
                    </tr>
            	    <tr>
                        <td>QPE Precipitation Type:</td>
                        <td>${context.get("ADAPT").get("ptype")}</td>
                    </tr>
            	    <tr>
                        <td>Apply RPG Estimated ISDP:</td>
			% if context.get("ADAPT").get("ISDP"):
                        <td>NO</td>
			% else:
			<td>YES</td>
			% endif
                    </tr>
		    <tr>
			<td>RPG Estimated ISDP:</td>
			<td>current value *stub*</td>
		    </tr>
		    <tr>
			<td>MetSignal Processing/Threshold</td>
			<td>Yes/-9999 *stub*</td>
		    </tr>
		    <tr>
			<td>Default Storm Motion:</td>
			<td>${context.get("ADAPT").get("default_dir")}@${context.get("ADAPT").get("default_spd")}kts</td>
		    </tr>
            	</tbody>
            </table>
	</div>
</div>
	



	


