###
### index.mako - this is the main page for the dashboard
###

<%!
    inherit_layout = True
    page_id = 'main-page'
    page_title = 'demo-page'
    page_classes = ''
%>

###
### inheritence chain
###

<%inherit file="page.mako" />

###
### namespaces
###

###
### blocks
###



<%block name="extra_header_markup">
<script>
$(document).ready(function(){
	$('#refreshPage').click(function(){
		location.reload()
	});
});
</script>
</%block>
###
### body
###
	
	<div role="banner" class="ui-header ui-bar-a" data-role="header">
		<a href="#" data-rel="back" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back">Back</a>
		<button id="refreshPage"  class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-icon-refresh ui-btn-icon-right">Refresh Page</button>
 		<h1 aria-level="1" role="heading" class="ui-title">Shift Change Checklist</h1>


		


	</div>
	

<% 
STATUS_VALS = {}
error_status = "ERROR: value not retrieved"
STATUS_VALS.update({"RS_RDA_ALARM_SUMMARY":{0:'No Alarms',2:'Tower/Utilities',4:'Pedestal',8:'Transmitter',16:'Receiver',32:'RDA Control',64:'Communication',128:'Signal Processor'}}) 
STATUS_VALS.update({"RS_OPERABILITY_STATUS":{2:'On-line',4:'Maintainance Action Required',8:'Maintainance Action Mandatory',16:'Commanded Shutdown',32:'Inoperable'}}) 
STATUS_VALS.update({"RS_RDA_STATUS":{2:'Start-Up',4:'Standby',8:'Restart',16:'Operate',32:'Spare',64:'Off-line Operate'}}) 
STATUS_VALS.update({"RS_CONTROL_STATUS":{2:'Local Only',4:'RPG (Remote) Only',8:'Either'}}) 
STATUS_VALS.update({"RS_TPS_STATUS":{0:'Not Installed',1:'OFF',3:'ON'}}) 
STATUS_VALS.update({"RS_AUX_POWER_GEN_STATE":{1:'Start-Up',2:'Standby',4:'Restart',8:'Operate',16:'Spare'}}) 
STATUS_VALS.update({"RS_SUPER_RES":{2:'Enabled',4:'Disabled'}}) 
STATUS_VALS.update({"RS_CMD":{0:'Disabled',1:'Enabled'}}) 
STATUS_VALS.update({"RS_AVSET":{2:'Enabled',4:'Disabled'}}) 
%>
    <div id="content">
		<div class="ui-grid-a">
            <table data-role="table" class="ui-block-a ui-body-d ui-shadow table-stripe ui-responsive">
            	<thead>
            		<tr>
                        <th><u>RDA Status</u></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RDA Alarm Summary:</td>
                        <td>${STATUS_VALS["RS_RDA_ALARM_SUMMARY"].get(context.get("RS_dict").get("RS_RDA_ALARM_SUMMARY"),error_status)}</td>
                    </tr>
            	    <tr>
                        <td>Operability Status:</td>
                        <td>${STATUS_VALS["RS_OPERABILITY_STATUS"].get(context.get("RS_dict").get("RS_OPERABILITY_STATUS"),error_status)}</td>
                    </tr>
            	    <tr>
                        <td>RDA Status:</td>
                        <td>${STATUS_VALS["RS_RDA_STATUS"].get(context.get("RS_dict").get("RS_RDA_STATUS"),error_status)}</td>
                    </tr>
            	    <tr>
                        <td>Control Status:</td>
                        <td>${STATUS_VALS["RS_RDA_STATUS"].get(context.get("RS_dict").get("RS_CONTROL_STATUS"),error_status)}<td>
                    </tr>
            	    <tr>
                        <td>Transition Power Source (TPS):</td>
                        <td>${STATUS_VALS["RS_TPS_STATUS"].get(context.get("RS_dict").get("RS_TPS_STATUS"),error_status)}</td>
                    </tr>
            	    <tr>
                        <td>Aux Power Generator State:</td>
                        <td>${STATUS_VALS["RS_AUX_POWER_GEN_STATE"].get(context.get("RS_dict").get("RS_AUX_POWER_GEN_STATE"),error_status)}</td>
                    </tr>
            	    <tr>
                        <td>Super Resolution (SR):</td>
                    	<td>${STATUS_VALS["RS_SUPER_RES"].get(context.get("RS_dict").get("RS_SUPER_RES"),error_status)}</td>
		    </tr>
            	    <tr>
                        <td>Clutter Mitigation Decision:</td>
                        <td>${STATUS_VALS["RS_CMD"].get(context.get("RS_dict").get("RS_CMD"),"Enabled")}</td>
                    </tr>
            	    <tr>
                        <td>Horizontal Delta dBZ0:</td>
                        <td>-0.09dBZ *stub*</td>
                    </tr>
            	    <tr>
                        <td>Vertical Delta dBZ0:</td>
                        <td>0.12dBZ *stub*</td>
                    </tr>
            	    <tr>
                        <td>Avg Transmitter Power:</td>
  			<td>${context.get("RS_dict").get("RS_AVE_TRANS_POWER")} W</td>                 
                    </tr>
            	    <tr>
                        <td>VCP Number:</td>
                        <td>${context.get("RS_dict").get("RS_VCP_NUMBER")}</td>
                    </tr>
            	    <tr>
                        <td>AVSET Status:</td>
                        <td>${STATUS_VALS["RS_AVSET"].get(context.get("RS_dict").get("RS_AVSET"))}</td>
                    </tr>
            	</tbody>
            </table>
            <table data-role="table" class="ui-block-b ui-body-d ui-shadow table-stripe ui-responsive">
            	<thead>
            		<tr>
                        <th><u>RDA Performance/Maintainence Data</u></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Equipment Shelter:</th>
                    </tr>
            	    <tr>
                        <td>Generator Fuel Level:</td>
                        <td>${context.get("PMD_dict").get("cnvrtd_gnrtr_fuel_lvl")}%</td>
                    </tr>
            	    <tr>
                        <td>Transmitter Air Temp:</td>
                        <td>${context.get("PMD_dict").get("trsmttr_leaving_air_temp")} (deg C)</td>
                    </tr>
            	    <tr>
                        <th>Transmitter:</th>
                    </tr>
            	    <tr>
                        <td>Peak Power:</td>
                         <td>${context.get("PMD_dict").get("xmtr_peak_pwr")} W</td>
                    </tr>
            	    <tr>
                        <th>Device Status:</th>
                    </tr>
            	    <tr>
                        <td>Performance Check Time:</td>
                         <td>${context.get("PMD_dict").get("perf_check_time")}</td>
                    </tr>
            	    <tr>
                        <th><u>RPG Status Information</u></th>
                    </tr>
            	    <tr>
                        <td>RPG Alarm Summary:</td>
                        <td>Task Failure *stub*</td>
                    </tr>
            	    <tr>
                        <td>Operability Status:</td>
                        <td>On-line *stub*</td>
                    </tr>
            	    <tr>
                        <td>Wideband Status:</td>
                        <td>Connected *stub*</td>
                    </tr>
            	    <tr>
                        <td>SAILS:</td>
                        <td>Disabled *stub*</td>
                    </tr>
            	    <tr>
                        <td>VCP Number:</td>
                        <td>212 *stub*</td>
                    </tr>
            	    <tr>
                        <td>PRF Mode:</td>
                        <td>Multi-Storm *stub*</td>
                    </tr>
            	</tbody>
            </table>
		</div>
		<div class="ui-grid-a">
            <table data-role="table" class="ui-block-a ui-body-d ui-shadow table-stripe ui-responsive">
            	<thead>
            		<tr>
                        <th><u>Archive Level II</u></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Transmit Status:</td>
                        <td>On *stub*</td>
                    </tr>
            	    <tr>
                        <td>Version:</td>
                        <td>7 *stub*</td>
                    </tr>
            	    <tr>
                        <th><u>Mode Selection Function (MSF)</u></th>
                    </tr>
            	    <tr>
                        <td>Mode Conflict:</td>
                        <td>Yes *stub*</td>
                    </tr>
            	    <tr>
                        <td>Mode Switch Clear Air:</td>
                        <td>Auto *stub*</td>
                    </tr>
            	    <tr>
                        <td>Mode Switch Precip:</td>
                        <td>Manual *stub*</td>
                    </tr>
            	    <tr>
                        <td>Mode Change Thresholds:</td>
                        <td>50km^2 > 30dBz *stub*</td>
                    </tr>
            	</tbody>
            </table>

            <table data-role="table" class="ui-block-b ui-body-d ui-shadow table-stripe ui-responsive">
            	<thead>
            		<tr>
                        <th><u>Environmental Data</u></th>
                    </tr>
                </thead>
                <tbody>
            	    <tr>
                        <td>VAD Update:</td>
                        <td>On *stub*</td>
                    </tr>
            	    <tr>
                        <td>Model Update:</td>
                        <td>On *stub*</td>
                    </tr>
            	    <tr>
                        <th><u>Algorithm Status/Data</u></th>
                    </tr>
            	    <tr>
                        <td>PPS Precipitation Status:</td>
                        <td>Accum *stub*</td>
                    </tr>
            	    <tr>
                        <td>PPS Z-R Relationship:</td>
                        <td>Tropical *stub*</td>
                    </tr>
            	    <tr>
                        <td>QPE Precipitation Type:</td>
                        <td>Exponent *stub*</td>
                    </tr>
            	    <tr>
                        <td>Apply RPG Estimated ISDP:</td>
                        <td>Yes *stub*</td>
                    </tr>
            	    <tr>
                        <th><u>Narrrowband Communications</u></th>
                    </tr>
            	    <tr>
                        <td>Dedicated Connected Users:</td>
                        <td>3 *stub*</td>
                    </tr>
            	</tbody>
            </table>
		</div>
	</div>
	



	


